<div *ngIf="!logoutScreenValue" id="contact" class="footer-dark ">
        <footer>
            <div class="container">
                <div style="height: 150px;" class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a>Wheel alignment and balancing</a></li>
                            <li><a >Engine Oil Service</a></li>
                            <li><a >Washing and Detailing</a></li>
                            <li><a >Periodic Service</a></li>
                            <li><a >AC Service</a></li>
                            <li><a >Custom Service</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a >Company</a></li>
                            <li><a >Team</a></li>
                            <li><a >Careers</a></li>
                        </ul>
                    </div>
                    <div  class="col-md-6 item text">
                        <h3>Wheels Doc</h3>
                        <p>Wheels Doc is a company that facilitates services for the automobile industry.Don't forget to follow us through below platforms and give us feedback.</p>
                    </div>
                    <div  class="col item social"><a ><i class="fa-brands fa-facebook"></i></a><a ><i class="fa-brands fa-twitter"></i></a><a ><i class="fa-brands fa-whatsapp"></i></a><a ><i class="fa-brands fa-instagram"></i></a></div>
                </div>
                <p style="margin-top: 35px;" class="copyright">Wheels Doc © 2023 all rights reserved</p>
            </div>
        </footer>
    </div>
  